In [3]:
import numpy as np
import numpy.linalg as la
import pandas as pd
import geopandas as gpd
from tqdm.notebook import tqdm

import osmnx as ox
from matplotlib import pyplot as plt
import momepy
import networkx as nx
from shapely.geometry import Polygon
import alphashape
from pyproj import Proj, Geod
import ast

data_path = '../../data/'  
df_car_detectors = gpd.read_file(data_path + 'all_car_detectors.geojson')

# polygon_road_network = gpd.read_file(data_path + 'network/QGIS_Project/referentiel-comptages-edit.shp')
# paris_districts = gpd.read_file(data_path + 'districts_paris.geojson')
# cycleways = gpd.read_file(data_path + 'cycleways_2000-2022.geojson')

# output_path = "output/"

In [4]:
df_car_detectors

,iu_ac,date_debut,date_fin,libelle,iu_nd_aval,libelle_nd_aval,iu_nd_amont,libelle_nd_amont,geo_point_2d,geometry
0,1743,1996-10-03 02:00:00+00:00,2023-01-01 01:00:00+00:00,Bd_Macdonald,928,Bd_Macdonald - Jaques Duchesne,929,Bd_Macdonald - Lounes Matoub,"{'lon': 2.3753362643387073, 'lat': 48.89885056...","LINESTRING (2.37633 48.89887, 2.37435 48.89884)"
1,1746,1996-10-03 02:00:00+00:00,2023-01-01 01:00:00+00:00,Bd_Macdonald,3630,Bd Macdonald - Rue E. 019,929,Bd_Macdonald - Lounes Matoub,"{'lon': 2.3785952253516314, 'lat': 48.89874752...","LINESTRING (2.37634 48.89868, 2.38085 48.89881)"
2,914,1996-10-03 02:00:00+00:00,2023-01-01 01:00:00+00:00,Av_Pte_Vincennes,524,Pte_Vincennes-Acces_PI,514,Bd_Davout-Pte_de_Vincennes,"{'lon': 2.412529726334607, 'lat': 48.846824834...","LINESTRING (2.41126 48.84690, 2.41152 48.84693..."
3,1708,1996-10-03 02:00:00+00:00,2023-01-01 01:00:00+00:00,Bd_Ney,899,Ney-SNCF_Nord_1,112,Av_Pte_Poissonniers-Bd_Ney,"{'lon': 2.353299882519023, 'lat': 48.898320555...","LINESTRING (2.35254 48.89830, 2.35406 48.89834)"
4,862,1996-10-03 02:00:00+00:00,2023-01-01 01:00:00+00:00,Bd_Massena,497,Bd_Massena_Porte_de_France,495,Bd_Massena-Av-Pte_Vitry,"{'lon': 2.3783630199335652, 'lat': 48.82451111...","LINESTRING (2.37712 48.82405, 2.37960 48.82497)"
...,...,...,...,...,...,...,...,...,...,...
3734,1831,2005-01-01 01:00:00+00:00,2019-06-01 02:00:00+00:00,N_2,942,Pte_Villette-Acces_PI,971,Pte_Villette-Sortie_PE_RN2,"{'lon': 2.3869802636004467, 'lat': 48.90082988...","LINESTRING (2.38707 48.90095, 2.38689 48.90071)"
3735,6140,2005-01-01 01:00:00+00:00,2019-06-01 02:00:00+00:00,SI_Quai_Issy_bretelle_1,599,Quai_Issy_bretelles_1-2,595,SI_Quai_Issy,"{'lon': 2.2701070063099777, 'lat': 48.83548466...","LINESTRING (2.27149 48.83551, 2.27011 48.83552..."
3736,4372,2005-01-01 01:00:00+00:00,2019-06-01 02:00:00+00:00,Av_Marceau,2345,Av_Marceau-Av_Pdt_Wilson,2343,Place_Brisson,"{'lon': 2.2997389284685914, 'lat': 48.86578366...","LINESTRING (2.29958 48.86639, 2.29990 48.86518)"
3737,4931,2005-01-01 01:00:00+00:00,2019-06-01 02:00:00+00:00,Cours_de_Vincennes,289,Vincennes-Picpus-Charonne,2608,Cours_de_Vincennes-Face_35,"{'lon': 2.3999136948032023, 'lat': 48.84808813...","LINESTRING (2.40062 48.84803, 2.39920 48.84815)"
3738,7190,2005-01-01 01:00:00+00:00,2019-03-01 01:00:00+00:00,Av_Emile_Zola,3724,Av_Emile_Zola-St_Charles-Linois,3725,Av_Emile_Zola-Lourmel,"{'lon': 2.2858932248320447, 'lat': 48.84660359...","LINESTRING (2.28604 48.84661, 2.28575 48.84660)"

In [6]:
# def process_car_detectors(year, polygon):
#     boundary_gdf = gpd.GeoDataFrame(geometry=[polygon], crs=df_car_detectors.crs)
#     # valid_detectors = df_car_detectors[(df_car_detectors['date_debut'].dt.year <= year) &  (df_car_detectors['date_fin'].dt.year >= year)]
#     # df_car_detectors_without_dupl = valid_detectors.drop_duplicates(
#     # subset='iu_ac', keep='first')
#     car_detectors_within_boundary = gpd.sjoin(
#     df_car_detectors, boundary_gdf, op='within')
#     # car_detectors_within_boundary = car_detectors_within_boundary.rename(
#     # columns={"iu_ac": "detector_id"})
#     return car_detectors_within_boundary

def find_detectors_by_year(df, year):
    """
    Finds detectors installed in a given year.

    Parameters:
    df (DataFrame): GeoDataFrame containing detectors information.
    year (int): The year to filter detectors for.

    Returns:
    DataFrame: DataFrame containing detectors installed in the specified year.
    """
    detectors_in_year = df[(df['date_debut'].dt.year <= year) & (df['date_fin'].dt.year >= year)]
    return detectors_in_year

def compute_changes_in_detectors(df, start_year, end_year):
    """
    Computes changes in detectors between consecutive years.

    Parameters:
    df (DataFrame): GeoDataFrame containing detectors information.
    start_year (int): The start year for analysis.
    end_year (int): The end year for analysis.

    Returns:
    DataFrame: DataFrame containing the count of detectors added and removed each year.
    """
    changes = []
    for year in range(start_year + 1, end_year + 1):
        detectors_prev_year = find_detectors_by_year(df, year - 1)
        detectors_current_year = find_detectors_by_year(df, year)
        
        detectors = detectors_prev_year.intersection(detectors_current_year)
        
        added_detectors = len(detectors_current_year) - len(detectors_prev_year)
        removed_detectors = len(detectors_prev_year) - len(detectors_current_year)
        
        changes.append({'Year': year, 'Detectors_Added': added_detectors, 'Detectors_Removed': removed_detectors})
    
    changes_df = pd.DataFrame(changes)
    return changes_df

def read_detector_data():
    ldd_2010_2012 = pd.read_csv(data_path + 'traffic_data/traffic_data_2010_2012.csv')
    ldd_2013_2020 = pd.read_csv(data_path + 'traffic_data/traffic_data.csv')
    ldd_2021_2022 = pd.read_csv(data_path + 'traffic_data/traffic_data_2021_2022.csv')
    ldd = pd.concat([ldd_2010_2012, ldd_2013_2020, ldd_2021_2022])
    ldd['t_1h'] = pd.to_datetime(ldd['t_1h'])
    return ldd

def find_detectors_by_year_ldd(df, year):
    """
    Finds detectors installed in a given year.

    Parameters:
    df (DataFrame): GeoDataFrame containing detectors information.
    year (int): The year to filter detectors for.

    Returns:
    DataFrame: DataFrame containing detectors installed in the specified year.
    """
    entries_in_year = df[(df['t_1h'].dt.year <= year) & (df['t_1h'].dt.year >= year)]

    det_in_year = entries_in_year['iu_ac'].unique()
    return det_in_year

In [7]:
len(find_detectors_by_year(df_car_detectors, 2000)['iu_ac'].unique())

2876

In [8]:
changes = []
for year in range(1997, 2024):
    detectors_prev_year = find_detectors_by_year(df_car_detectors, year - 1)
    detectors_current_year = find_detectors_by_year(df_car_detectors, year)
    
    unique_det_prev = detectors_prev_year['iu_ac'].unique()
    unique_det_curr = detectors_current_year['iu_ac'].unique()
    
    det_in_both = np.intersect1d(unique_det_prev, unique_det_curr)
    det_in_just_prev = np.setdiff1d(unique_det_prev, det_in_both)
    det_in_just_curr = np.setdiff1d(unique_det_curr, det_in_both)
    
    added_detectors = len(det_in_just_curr) 
    removed_detectors = len(det_in_just_prev) 
    
    print(added_detectors, removed_detectors)
    
    changes.append({'Year': year, 'Number_of_Detectors': len(unique_det_curr), 'Detectors_Added': added_detectors, 'Detectors_Removed': removed_detectors})
    
changes_df = pd.DataFrame(changes)

259 0
47 0
15 0
56 0
57 0
35 0
23 0
3 0
66 0
32 0
37 0
2 0
4 0
0 0
20 0
20 0
11 0
47 7
44 0
4 1
5 13
13 7
49 2
0 15
0 0
0 0
0 0

In [9]:
changes_df

    Year  Number_of_Detectors  Detectors_Added  Detectors_Removed
0   1997                 2758              259                  0
1   1998                 2805               47                  0
2   1999                 2820               15                  0
3   2000                 2876               56                  0
4   2001                 2933               57                  0
5   2002                 2968               35                  0
6   2003                 2991               23                  0
7   2004                 2994                3                  0
8   2005                 3060               66                  0
9   2006                 3092               32                  0
10  2007                 3129               37                  0
11  2008                 3131                2                  0
12  2009                 3135                4                  0
13  2010                 3135                0                  0
14  2011                 3155               20                  0
15  2012                 3175               20                  0
16  2013                 3186               11                  0
17  2014                 3226               47                  7
18  2015                 3270               44                  0
19  2016                 3273                4                  1
20  2017                 3265                5                 13
21  2018                 3271               13                  7
22  2019                 3318               49                  2
23  2020                 3303                0                 15
24  2021                 3303                0                  0
25  2022                 3303                0                  0
26  2023                 3303                0                  0

But how does this look for the traffic data?

In [11]:
ldd = read_detector_data()

In [33]:
def find_detectors_by_year_ldd_delivering_at_least_once_q_or_k(df, year):
    """
    Finds detectors installed in a given year.

    Parameters:
    df (DataFrame): GeoDataFrame containing detectors information.
    year (int): The year to filter detectors for.

    Returns:
    DataFrame: DataFrame containing detectors installed in the specified year.
    """
    entries_in_year = df[(df['t_1h'].dt.year <= year) & (df['t_1h'].dt.year >= year)]
    
    # filter entries_in_year for entries, where q and k are not NaN
    entries_in_year = entries_in_year[(~entries_in_year['q'].isnull()) | (~entries_in_year['k'].isnull())]
    print(entries_in_year.head(50))
    
    det_in_year = entries_in_year['iu_ac'].unique()
    return det_in_year

In [34]:
def find_detectors_by_year_ldd_delivering_at_least_once_q_and_k(df, year):
    """
    Finds detectors installed in a given year.

    Parameters:
    df (DataFrame): GeoDataFrame containing detectors information.
    year (int): The year to filter detectors for.

    Returns:
    DataFrame: DataFrame containing detectors installed in the specified year.
    """
    entries_in_year = df[(df['t_1h'].dt.year <= year) & (df['t_1h'].dt.year >= year)]
    
    # filter entries_in_year for entries, where q and k are not NaN
    entries_in_year = entries_in_year[entries_in_year['q'].notna()]
    entries_in_year = entries_in_year[entries_in_year['k'].notna()]
    print(entries_in_year.head())
    
    det_in_year = entries_in_year['iu_ac'].unique()
    return det_in_year

In [35]:
find_detectors_by_year_ldd_delivering_at_least_once_q_or_k(ldd, 2015)

          iu_ac                t_1h   q        k  hour         day
29977028    799 2015-01-01 05:00:00 NaN  0.43667     5  2015-01-01
29977029    799 2015-01-01 06:00:00 NaN  0.43000     6  2015-01-01
29977030    799 2015-01-01 07:00:00 NaN  0.24722     7  2015-01-01
29977031    799 2015-01-01 08:00:00 NaN  0.19556     8  2015-01-01
29977032    799 2015-01-01 09:00:00 NaN  0.38445     9  2015-01-01
29977033    799 2015-01-01 10:00:00 NaN  0.32334    10  2015-01-01
29977034    799 2015-01-01 11:00:00 NaN  0.49111    11  2015-01-01
29977035    799 2015-01-01 12:00:00 NaN  0.62889    12  2015-01-01
29977036    799 2015-01-01 13:00:00 NaN  0.82500    13  2015-01-01
29977037    799 2015-01-01 14:00:00 NaN  0.66944    14  2015-01-01
29977038    799 2015-01-01 15:00:00 NaN  0.83834    15  2015-01-01
29977039    799 2015-01-01 16:00:00 NaN  1.26722    16  2015-01-01
29977040    799 2015-01-01 17:00:00 NaN  1.28222    17  2015-01-01
29977041    799 2015-01-01 18:00:00 NaN  2.18500    18  2015-01-01
29977042    799 2015-01-01 19:00:00 NaN  1.54944    19  2015-01-01
29977043    799 2015-01-01 20:00:00 NaN  1.07556    20  2015-01-01
29977044    799 2015-01-01 21:00:00 NaN  0.81611    21  2015-01-01
29977045    799 2015-01-01 22:00:00 NaN  0.52945    22  2015-01-01
29977046    799 2015-01-02 05:00:00 NaN  0.06222     5  2015-01-02
29977047    799 2015-01-02 06:00:00 NaN  0.23445     6  2015-01-02
29977048    799 2015-01-02 07:00:00 NaN  0.24556     7  2015-01-02
29977049    799 2015-01-02 08:00:00 NaN  0.53167     8  2015-01-02
29977050    799 2015-01-02 09:00:00 NaN  1.08000     9  2015-01-02
29977051    799 2015-01-02 10:00:00 NaN  1.20945    10  2015-01-02
29977052    799 2015-01-02 11:00:00 NaN  1.12389    11  2015-01-02
29977053    799 2015-01-02 12:00:00 NaN  1.73834    12  2015-01-02
29977054    799 2015-01-02 13:00:00 NaN  1.90389    13  2015-01-02
29977055    799 2015-01-02 14:00:00 NaN  1.62500    14  2015-01-02
29977056    799 2015-01-02 15:00:00 NaN  1.83945    15  2015-01-02
29977057    799 2015-01-02 16:00:00 NaN  2.42833    16  2015-01-02
29977058    799 2015-01-02 17:00:00 NaN  3.45500    17  2015-01-02
29977059    799 2015-01-02 18:00:00 NaN  3.68278    18  2015-01-02
29977060    799 2015-01-02 19:00:00 NaN  2.87834    19  2015-01-02
29977061    799 2015-01-02 20:00:00 NaN  1.48334    20  2015-01-02
29977062    799 2015-01-02 21:00:00 NaN  1.04111    21  2015-01-02
29977063    799 2015-01-02 22:00:00 NaN  0.75389    22  2015-01-02
29977064    799 2015-01-05 05:00:00 NaN  0.05556     5  2015-01-05
29977065    799 2015-01-05 06:00:00 NaN  0.12945     6  2015-01-05
29977066    799 2015-01-05 07:00:00 NaN  0.33889     7  2015-01-05
29977067    799 2015-01-05 08:00:00 NaN  0.98500     8  2015-01-05
29977068    799 2015-01-05 09:00:00 NaN  3.12556     9  2015-01-05
29977069    799 2015-01-05 10:00:00 NaN  2.14500    10  2015-01-05
29977070    799 2015-01-05 11:00:00 NaN  1.68056    11  2015-01-05
29977071    799 2015-01-05 12:00:00 NaN  1.29944    12  2015-01-05
29977072    799 2015-01-05 13:00:00 NaN  1.37556    13  2015-01-05
29977073    799 2015-01-05 14:00:00 NaN  1.77278    14  2015-01-05
29977074    799 2015-01-05 15:00:00 NaN  1.77444    15  2015-01-05
29977075    799 2015-01-05 16:00:00 NaN  1.98667    16  2015-01-05
29977076    799 2015-01-05 17:00:00 NaN  2.93945    17  2015-01-05
29977077    799 2015-01-05 18:00:00 NaN  2.56222    18  2015-01-05

array([ 799,  651, 4950, ..., 1222, 1111, 1109])

In [ ]:
asdfads

In [14]:
len(find_detectors_by_year_ldd(ldd, 2015))

          iu_ac                t_1h   q        k  hour         day
29977028    799 2015-01-01 05:00:00 NaN  0.43667     5  2015-01-01
29977029    799 2015-01-01 06:00:00 NaN  0.43000     6  2015-01-01
29977030    799 2015-01-01 07:00:00 NaN  0.24722     7  2015-01-01
29977031    799 2015-01-01 08:00:00 NaN  0.19556     8  2015-01-01
29977032    799 2015-01-01 09:00:00 NaN  0.38445     9  2015-01-01

3267

In [36]:
changes = []
for year in range(2010, 2023):
    detectors_prev_year = find_detectors_by_year_ldd_delivering_at_least_once_q_or_k(ldd, year - 1)
    detectors_current_year = find_detectors_by_year_ldd_delivering_at_least_once_q_and_k(ldd, year)
    
    det_in_both = np.intersect1d(detectors_prev_year, detectors_current_year)
    det_in_just_prev = np.setdiff1d(detectors_prev_year, det_in_both)
    det_in_just_curr = np.setdiff1d(detectors_current_year, det_in_both)
    
    added_detectors = len(det_in_just_curr) 
    removed_detectors = len(det_in_just_prev) 
    
    print(added_detectors, removed_detectors)
    
    changes.append({'Year': year, 'Number_of_Detectors': len(detectors_current_year), 'Detectors_Added': added_detectors, 'Detectors_Removed': removed_detectors})
    
changes_ldd_at_least_one_q_or_k_df = pd.DataFrame(changes)

Empty DataFrame
Columns: [iu_ac, t_1h, q, k, hour, day]
Index: []
    iu_ac                t_1h      q    k  hour         day
18    651 2010-01-01 05:00:00  318.0  3.0     5  2010-01-01
19    651 2010-01-01 06:00:00  254.0  3.0     6  2010-01-01
20    651 2010-01-01 07:00:00  233.0  3.0     7  2010-01-01
21    651 2010-01-01 08:00:00  161.0  2.0     8  2010-01-01
22    651 2010-01-01 09:00:00  123.0  1.0     9  2010-01-01
1881 0
    iu_ac                t_1h      q    k  hour         day
0     799 2010-01-01 05:00:00    NaN  1.0     5  2010-01-01
1     799 2010-01-01 06:00:00    NaN  1.0     6  2010-01-01
2     799 2010-01-01 07:00:00    NaN  0.0     7  2010-01-01
3     799 2010-01-01 08:00:00    NaN  0.0     8  2010-01-01
4     799 2010-01-01 09:00:00    NaN  0.0     9  2010-01-01
5     799 2010-01-01 10:00:00    NaN  0.0    10  2010-01-01
6     799 2010-01-01 11:00:00    NaN  0.0    11  2010-01-01
7     799 2010-01-01 12:00:00    NaN  1.0    12  2010-01-01
8     799 2010-01-01 13:00:00    NaN  1.0    13  2010-01-01
9     799 2010-01-01 14:00:00    NaN  1.0    14  2010-01-01
10    799 2010-01-01 15:00:00    NaN  1.0    15  2010-01-01
11    799 2010-01-01 16:00:00    NaN  1.0    16  2010-01-01
12    799 2010-01-01 17:00:00    NaN  1.0    17  2010-01-01
13    799 2010-01-01 18:00:00    NaN  1.0    18  2010-01-01
14    799 2010-01-01 19:00:00    NaN  2.0    19  2010-01-01
15    799 2010-01-01 20:00:00    NaN  2.0    20  2010-01-01
16    799 2010-01-01 21:00:00    NaN  1.0    21  2010-01-01
17    799 2010-01-01 22:00:00    NaN  1.0    22  2010-01-01
18    651 2010-01-01 05:00:00  318.0  3.0     5  2010-01-01
19    651 2010-01-01 06:00:00  254.0  3.0     6  2010-01-01
20    651 2010-01-01 07:00:00  233.0  3.0     7  2010-01-01
21    651 2010-01-01 08:00:00  161.0  2.0     8  2010-01-01
22    651 2010-01-01 09:00:00  123.0  1.0     9  2010-01-01
23    651 2010-01-01 10:00:00  168.0  2.0    10  2010-01-01
24    651 2010-01-01 11:00:00  220.0  3.0    11  2010-01-01
25    651 2010-01-01 12:00:00  398.0  5.0    12  2010-01-01
26    651 2010-01-01 13:00:00  483.0  6.0    13  2010-01-01
27    651 2010-01-01 14:00:00  471.0  6.0    14  2010-01-01
28    651 2010-01-01 15:00:00  510.0  6.0    15  2010-01-01
29    651 2010-01-01 16:00:00  639.0  8.0    16  2010-01-01
30    651 2010-01-01 17:00:00  627.0  7.0    17  2010-01-01
31    651 2010-01-01 18:00:00  682.0  8.0    18  2010-01-01
32    651 2010-01-01 19:00:00  638.0  8.0    19  2010-01-01
33    651 2010-01-01 20:00:00  629.0  7.0    20  2010-01-01
34    651 2010-01-01 21:00:00  463.0  5.0    21  2010-01-01
35    651 2010-01-01 22:00:00  399.0  4.0    22  2010-01-01
36   4950 2010-01-01 05:00:00    NaN  3.0     5  2010-01-01
37   4950 2010-01-01 06:00:00    NaN  2.0     6  2010-01-01
38   4950 2010-01-01 07:00:00    NaN  1.0     7  2010-01-01
39   4950 2010-01-01 08:00:00    NaN  1.0     8  2010-01-01
40   4950 2010-01-01 09:00:00    NaN  1.0     9  2010-01-01
41   4950 2010-01-01 10:00:00    NaN  1.0    10  2010-01-01
42   4950 2010-01-01 11:00:00    NaN  0.0    11  2010-01-01
43   4950 2010-01-01 12:00:00    NaN  0.0    12  2010-01-01
44   4950 2010-01-01 13:00:00    NaN  1.0    13  2010-01-01
45   4950 2010-01-01 14:00:00    NaN  0.0    14  2010-01-01
46   4950 2010-01-01 15:00:00    NaN  1.0    15  2010-01-01
47   4950 2010-01-01 16:00:00    NaN  1.0    16  2010-01-01
48   4950 2010-01-01 17:00:00    NaN  1.0    17  2010-01-01
49   4950 2010-01-01 18:00:00    NaN  1.0    18  2010-01-01
          iu_ac                t_1h       q     k  hour         day
15346476    651 2011-01-03 05:00:00    68.0   1.0     5  2011-01-03
15346477    651 2011-01-03 06:00:00   164.0   2.0     6  2011-01-03
15346478    651 2011-01-03 07:00:00   437.0   6.0     7  2011-01-03
15346479    651 2011-01-03 08:00:00   797.0  10.0     8  2011-01-03
15346480    651 2011-01-03 09:00:00  1045.0  12.0     9  2011-01-03
83 718
          iu_ac                t_1h   q    k  hour         day
15346422    799 2011-01-03 05:00:00 NaN  0.0     5  2011-01-03
15346423    799 2011-01-03 06:00:00 NaN  0.0     6  2011-01-03
15346424    799 2011-01-03 07:00:00 NaN  0.0     7  2011-01-03
15346425    799 2011-01-03 08:00:00 NaN  1.0     8  2011-01-03
15346426    799 2011-01-03 09:00:00 NaN  3.0     9  2011-01-03
15346427    799 2011-01-03 10:00:00 NaN  3.0    10  2011-01-03
15346428    799 2011-01-03 11:00:00 NaN  2.0    11  2011-01-03
15346429    799 2011-01-03 12:00:00 NaN  2.0    12  2011-01-03
15346430    799 2011-01-03 13:00:00 NaN  1.0    13  2011-01-03
15346431    799 2011-01-03 14:00:00 NaN  2.0    14  2011-01-03
15346432    799 2011-01-03 15:00:00 NaN  2.0    15  2011-01-03
15346433    799 2011-01-03 16:00:00 NaN  2.0    16  2011-01-03
15346434    799 2011-01-03 17:00:00 NaN  3.0    17  2011-01-03
15346435    799 2011-01-03 18:00:00 NaN  3.0    18  2011-01-03
15346436    799 2011-01-03 19:00:00 NaN  2.0    19  2011-01-03
15346437    799 2011-01-03 20:00:00 NaN  2.0    20  2011-01-03
15346438    799 2011-01-03 21:00:00 NaN  2.0    21  2011-01-03
15346439    799 2011-01-03 22:00:00 NaN  1.0    22  2011-01-03
15346440    799 2011-01-04 05:00:00 NaN  0.0     5  2011-01-04
15346441    799 2011-01-04 06:00:00 NaN  0.0     6  2011-01-04
15346442    799 2011-01-04 07:00:00 NaN  0.0     7  2011-01-04
15346443    799 2011-01-04 08:00:00 NaN  2.0     8  2011-01-04
15346444    799 2011-01-04 09:00:00 NaN  3.0     9  2011-01-04
15346445    799 2011-01-04 10:00:00 NaN  3.0    10  2011-01-04
15346446    799 2011-01-04 11:00:00 NaN  3.0    11  2011-01-04
15346447    799 2011-01-04 12:00:00 NaN  2.0    12  2011-01-04
15346448    799 2011-01-04 13:00:00 NaN  2.0    13  2011-01-04
15346449    799 2011-01-04 14:00:00 NaN  2.0    14  2011-01-04
15346450    799 2011-01-04 15:00:00 NaN  3.0    15  2011-01-04
15346451    799 2011-01-04 16:00:00 NaN  3.0    16  2011-01-04
15346452    799 2011-01-04 17:00:00 NaN  3.0    17  2011-01-04
15346453    799 2011-01-04 18:00:00 NaN  4.0    18  2011-01-04
15346454    799 2011-01-04 19:00:00 NaN  3.0    19  2011-01-04
15346455    799 2011-01-04 20:00:00 NaN  3.0    20  2011-01-04
15346456    799 2011-01-04 21:00:00 NaN  1.0    21  2011-01-04
15346457    799 2011-01-04 22:00:00 NaN  2.0    22  2011-01-04
15346458    799 2011-01-05 05:00:00 NaN  1.0     5  2011-01-05
15346459    799 2011-01-05 06:00:00 NaN  1.0     6  2011-01-05
15346460    799 2011-01-05 07:00:00 NaN  0.0     7  2011-01-05
15346461    799 2011-01-05 08:00:00 NaN  2.0     8  2011-01-05
15346462    799 2011-01-05 09:00:00 NaN  3.0     9  2011-01-05
15346463    799 2011-01-05 10:00:00 NaN  3.0    10  2011-01-05
15346464    799 2011-01-05 11:00:00 NaN  3.0    11  2011-01-05
15346465    799 2011-01-05 12:00:00 NaN  3.0    12  2011-01-05
15346466    799 2011-01-05 13:00:00 NaN  3.0    13  2011-01-05
15346467    799 2011-01-05 14:00:00 NaN  3.0    14  2011-01-05
15346468    799 2011-01-05 15:00:00 NaN  3.0    15  2011-01-05
15346469    799 2011-01-05 16:00:00 NaN  3.0    16  2011-01-05
15346470    799 2011-01-05 17:00:00 NaN  3.0    17  2011-01-05
15346471    799 2011-01-05 18:00:00 NaN  5.0    18  2011-01-05
          iu_ac                t_1h      q    k  hour         day
30022396    651 2012-01-02 05:00:00   69.0  1.0     5  2012-01-02
30022397    651 2012-01-02 06:00:00  187.0  2.0     6  2012-01-02
30022398    651 2012-01-02 07:00:00  416.0  6.0     7  2012-01-02
30022399    651 2012-01-02 08:00:00  599.0  7.0     8  2012-01-02
30022400    651 2012-01-02 09:00:00  797.0  9.0     9  2012-01-02
40 740
          iu_ac                t_1h   q     k  hour         day
30022342    799 2012-01-02 05:00:00 NaN   0.0     5  2012-01-02
30022343    799 2012-01-02 06:00:00 NaN   0.0     6  2012-01-02
30022344    799 2012-01-02 07:00:00 NaN   0.0     7  2012-01-02
30022345    799 2012-01-02 08:00:00 NaN   1.0     8  2012-01-02
30022346    799 2012-01-02 09:00:00 NaN   2.0     9  2012-01-02
30022347    799 2012-01-02 10:00:00 NaN   2.0    10  2012-01-02
30022348    799 2012-01-02 11:00:00 NaN   1.0    11  2012-01-02
30022349    799 2012-01-02 12:00:00 NaN   2.0    12  2012-01-02
30022350    799 2012-01-02 13:00:00 NaN   1.0    13  2012-01-02
30022351    799 2012-01-02 14:00:00 NaN   2.0    14  2012-01-02
30022352    799 2012-01-02 15:00:00 NaN   6.0    15  2012-01-02
30022353    799 2012-01-02 16:00:00 NaN   4.0    16  2012-01-02
30022354    799 2012-01-02 17:00:00 NaN   4.0    17  2012-01-02
30022355    799 2012-01-02 18:00:00 NaN   6.0    18  2012-01-02
30022356    799 2012-01-02 19:00:00 NaN   4.0    19  2012-01-02
30022357    799 2012-01-02 20:00:00 NaN   2.0    20  2012-01-02
30022358    799 2012-01-02 21:00:00 NaN   1.0    21  2012-01-02
30022359    799 2012-01-02 22:00:00 NaN   1.0    22  2012-01-02
30022360    799 2012-01-03 05:00:00 NaN   0.0     5  2012-01-03
30022361    799 2012-01-03 06:00:00 NaN   0.0     6  2012-01-03
30022362    799 2012-01-03 07:00:00 NaN   1.0     7  2012-01-03
30022363    799 2012-01-03 08:00:00 NaN   2.0     8  2012-01-03
30022364    799 2012-01-03 09:00:00 NaN   5.0     9  2012-01-03
30022365    799 2012-01-03 10:00:00 NaN   3.0    10  2012-01-03
30022366    799 2012-01-03 11:00:00 NaN   2.0    11  2012-01-03
30022367    799 2012-01-03 12:00:00 NaN   2.0    12  2012-01-03
30022368    799 2012-01-03 13:00:00 NaN   2.0    13  2012-01-03
30022369    799 2012-01-03 14:00:00 NaN   2.0    14  2012-01-03
30022370    799 2012-01-03 15:00:00 NaN   2.0    15  2012-01-03
30022371    799 2012-01-03 16:00:00 NaN   2.0    16  2012-01-03
30022372    799 2012-01-03 17:00:00 NaN   4.0    17  2012-01-03
30022373    799 2012-01-03 18:00:00 NaN   7.0    18  2012-01-03
30022374    799 2012-01-03 19:00:00 NaN  60.0    19  2012-01-03
30022375    799 2012-01-03 20:00:00 NaN  36.0    20  2012-01-03
30022376    799 2012-01-03 21:00:00 NaN   1.0    21  2012-01-03
30022377    799 2012-01-03 22:00:00 NaN   1.0    22  2012-01-03
30022378    799 2012-01-04 05:00:00 NaN   0.0     5  2012-01-04
30022379    799 2012-01-04 06:00:00 NaN   0.0     6  2012-01-04
30022380    799 2012-01-04 07:00:00 NaN   1.0     7  2012-01-04
30022381    799 2012-01-04 08:00:00 NaN   1.0     8  2012-01-04
30022382    799 2012-01-04 09:00:00 NaN   3.0     9  2012-01-04
30022383    799 2012-01-04 10:00:00 NaN   2.0    10  2012-01-04
30022384    799 2012-01-04 11:00:00 NaN   2.0    11  2012-01-04
30022385    799 2012-01-04 12:00:00 NaN   2.0    12  2012-01-04
30022386    799 2012-01-04 13:00:00 NaN   2.0    13  2012-01-04
30022387    799 2012-01-04 14:00:00 NaN   2.0    14  2012-01-04
30022388    799 2012-01-04 15:00:00 NaN   2.0    15  2012-01-04
30022389    799 2012-01-04 16:00:00 NaN   3.0    16  2012-01-04
30022390    799 2012-01-04 17:00:00 NaN   3.0    17  2012-01-04
30022391    799 2012-01-04 18:00:00 NaN   5.0    18  2012-01-04
    iu_ac                t_1h      q        k  hour         day
36    651 2013-01-01 05:00:00  310.0  3.58889     5  2013-01-01
37    651 2013-01-01 06:00:00  252.0  2.70389     6  2013-01-01
38    651 2013-01-01 07:00:00  277.0  3.34889     7  2013-01-01
39    651 2013-01-01 08:00:00  168.0  1.91889     8  2013-01-01
40    651 2013-01-01 09:00:00  136.0  1.64111     9  2013-01-01
79 672
    iu_ac                t_1h      q        k  hour         day
0     799 2013-01-01 05:00:00    NaN  0.64278     5  2013-01-01
1     799 2013-01-01 06:00:00    NaN  0.61945     6  2013-01-01
2     799 2013-01-01 07:00:00    NaN  0.39056     7  2013-01-01
3     799 2013-01-01 08:00:00    NaN  0.28000     8  2013-01-01
4     799 2013-01-01 09:00:00    NaN  0.23111     9  2013-01-01
5     799 2013-01-01 10:00:00    NaN  0.25056    10  2013-01-01
6     799 2013-01-01 11:00:00    NaN  0.51944    11  2013-01-01
7     799 2013-01-01 12:00:00    NaN  0.55278    12  2013-01-01
8     799 2013-01-01 13:00:00    NaN  1.06723    13  2013-01-01
9     799 2013-01-01 14:00:00    NaN  0.65333    14  2013-01-01
10    799 2013-01-01 15:00:00    NaN  1.14222    15  2013-01-01
11    799 2013-01-01 16:00:00    NaN  1.19111    16  2013-01-01
12    799 2013-01-01 17:00:00    NaN  1.21167    17  2013-01-01
13    799 2013-01-01 18:00:00    NaN  1.54944    18  2013-01-01
14    799 2013-01-01 19:00:00    NaN  1.62833    19  2013-01-01
15    799 2013-01-01 20:00:00    NaN  1.36167    20  2013-01-01
16    799 2013-01-01 21:00:00    NaN  0.78889    21  2013-01-01
17    799 2013-01-01 22:00:00    NaN  0.62222    22  2013-01-01
18    799 2013-01-02 05:00:00    NaN  0.07445     5  2013-01-02
19    799 2013-01-02 06:00:00    NaN  0.16000     6  2013-01-02
20    799 2013-01-02 07:00:00    NaN  0.39167     7  2013-01-02
21    799 2013-01-02 08:00:00    NaN  0.85445     8  2013-01-02
22    799 2013-01-02 09:00:00    NaN  2.07445     9  2013-01-02
23    799 2013-01-02 10:00:00    NaN  1.68111    10  2013-01-02
24    799 2013-01-02 11:00:00    NaN  1.63056    11  2013-01-02
25    799 2013-01-02 12:00:00    NaN  2.14445    12  2013-01-02
27    799 2013-01-02 14:00:00    NaN  1.75445    14  2013-01-02
28    799 2013-01-02 15:00:00    NaN  2.18389    15  2013-01-02
29    799 2013-01-02 16:00:00    NaN  3.75611    16  2013-01-02
30    799 2013-01-02 17:00:00    NaN  3.78278    17  2013-01-02
31    799 2013-01-02 18:00:00    NaN  5.26111    18  2013-01-02
32    799 2013-01-02 19:00:00    NaN  4.13334    19  2013-01-02
33    799 2013-01-02 20:00:00    NaN  2.80722    20  2013-01-02
34    799 2013-01-02 21:00:00    NaN  0.95778    21  2013-01-02
35    799 2013-01-02 22:00:00    NaN  0.54611    22  2013-01-02
36    651 2013-01-01 05:00:00  310.0  3.58889     5  2013-01-01
37    651 2013-01-01 06:00:00  252.0  2.70389     6  2013-01-01
38    651 2013-01-01 07:00:00  277.0  3.34889     7  2013-01-01
39    651 2013-01-01 08:00:00  168.0  1.91889     8  2013-01-01
40    651 2013-01-01 09:00:00  136.0  1.64111     9  2013-01-01
41    651 2013-01-01 10:00:00  171.0  2.06556    10  2013-01-01
42    651 2013-01-01 11:00:00  262.0  3.01667    11  2013-01-01
43    651 2013-01-01 12:00:00  376.0  4.10000    12  2013-01-01
44    651 2013-01-01 13:00:00  431.0  5.32056    13  2013-01-01
45    651 2013-01-01 14:00:00  453.0  5.46167    14  2013-01-01
46    651 2013-01-01 15:00:00  624.0  7.29555    15  2013-01-01
47    651 2013-01-01 16:00:00  647.0  7.30889    16  2013-01-01
48    651 2013-01-01 17:00:00  713.0  8.70556    17  2013-01-01
49    651 2013-01-01 18:00:00  659.0  7.71556    18  2013-01-01
50    651 2013-01-01 19:00:00  601.0  7.00111    19  2013-01-01
          iu_ac                t_1h      q        k  hour         day
14899385    651 2014-01-01 05:00:00  327.0  4.24334     5  2014-01-01
14899386    651 2014-01-01 06:00:00  299.0  3.45222     6  2014-01-01
14899387    651 2014-01-01 07:00:00  238.0  2.70222     7  2014-01-01
14899388    651 2014-01-01 08:00:00  201.0  2.50056     8  2014-01-01
14899389    651 2014-01-01 09:00:00  157.0  1.93500     9  2014-01-01
33 737
          iu_ac                t_1h      q        k  hour         day
14899367    799 2014-01-01 05:00:00    NaN  0.58222     5  2014-01-01
14899368    799 2014-01-01 06:00:00    NaN  0.46056     6  2014-01-01
14899369    799 2014-01-01 07:00:00    NaN  0.30444     7  2014-01-01
14899370    799 2014-01-01 08:00:00    NaN  0.18111     8  2014-01-01
14899371    799 2014-01-01 09:00:00    NaN  0.30445     9  2014-01-01
14899372    799 2014-01-01 10:00:00    NaN  0.37667    10  2014-01-01
14899373    799 2014-01-01 11:00:00    NaN  0.37278    11  2014-01-01
14899374    799 2014-01-01 12:00:00    NaN  0.50944    12  2014-01-01
14899375    799 2014-01-01 13:00:00    NaN  0.82166    13  2014-01-01
14899376    799 2014-01-01 14:00:00    NaN  0.62000    14  2014-01-01
14899377    799 2014-01-01 15:00:00    NaN  0.78944    15  2014-01-01
14899378    799 2014-01-01 16:00:00    NaN  0.96611    16  2014-01-01
14899379    799 2014-01-01 17:00:00    NaN  1.28889    17  2014-01-01
14899380    799 2014-01-01 18:00:00    NaN  1.68445    18  2014-01-01
14899381    799 2014-01-01 19:00:00    NaN  1.40778    19  2014-01-01
14899382    799 2014-01-01 20:00:00    NaN  1.01278    20  2014-01-01
14899383    799 2014-01-01 21:00:00    NaN  0.89944    21  2014-01-01
14899384    799 2014-01-01 22:00:00    NaN  0.63167    22  2014-01-01
14899385    651 2014-01-01 05:00:00  327.0  4.24334     5  2014-01-01
14899386    651 2014-01-01 06:00:00  299.0  3.45222     6  2014-01-01
14899387    651 2014-01-01 07:00:00  238.0  2.70222     7  2014-01-01
14899388    651 2014-01-01 08:00:00  201.0  2.50056     8  2014-01-01
14899389    651 2014-01-01 09:00:00  157.0  1.93500     9  2014-01-01
14899390    651 2014-01-01 10:00:00  205.0  2.53334    10  2014-01-01
14899391    651 2014-01-01 11:00:00  233.0  2.86778    11  2014-01-01
14899392    651 2014-01-01 12:00:00  332.0  4.14500    12  2014-01-01
14899393    651 2014-01-01 13:00:00  469.0  5.58611    13  2014-01-01
14899394    651 2014-01-01 14:00:00  512.0  6.06722    14  2014-01-01
14899395    651 2014-01-01 15:00:00  522.0  6.01945    15  2014-01-01
14899396    651 2014-01-01 16:00:00  615.0  7.84111    16  2014-01-01
14899397    651 2014-01-01 17:00:00  672.0  7.83778    17  2014-01-01
14899398    651 2014-01-01 18:00:00  625.0  7.71056    18  2014-01-01
14899399    651 2014-01-01 19:00:00  597.0  6.91667    19  2014-01-01
14899400    651 2014-01-01 20:00:00  504.0  5.73056    20  2014-01-01
14899401    651 2014-01-01 21:00:00  450.0  5.08611    21  2014-01-01
14899402    651 2014-01-01 22:00:00  330.0  3.69889    22  2014-01-01
14899421   6639 2014-01-01 05:00:00  360.0  3.14167     5  2014-01-01
14899422   6639 2014-01-01 06:00:00  234.0  1.99778     6  2014-01-01
14899423   6639 2014-01-01 07:00:00  168.0  1.84223     7  2014-01-01
14899424   6639 2014-01-01 08:00:00  117.0  1.18055     8  2014-01-01
14899425   6639 2014-01-01 09:00:00   89.0  1.15667     9  2014-01-01
14899426   6639 2014-01-01 10:00:00   94.0  1.10722    10  2014-01-01
14899427   6639 2014-01-01 11:00:00  116.0  1.10000    11  2014-01-01
14899428   6639 2014-01-01 12:00:00  200.0  1.95000    12  2014-01-01
14899429   6639 2014-01-01 13:00:00  242.0  2.27778    13  2014-01-01
14899430   6639 2014-01-01 14:00:00  269.0  2.32500    14  2014-01-01
14899431   6639 2014-01-01 15:00:00  316.0  2.63000    15  2014-01-01
14899432   6639 2014-01-01 16:00:00  319.0  3.09166    16  2014-01-01
14899433   6639 2014-01-01 17:00:00  369.0  4.05833    17  2014-01-01
14899434   6639 2014-01-01 18:00:00  401.0  3.98833    18  2014-01-01
          iu_ac                t_1h      q        k  hour         day
29977118    651 2015-01-01 05:00:00  352.0  4.77444     5  2015-01-01
29977119    651 2015-01-01 06:00:00  305.0  4.03611     6  2015-01-01
29977120    651 2015-01-01 07:00:00  268.0  3.57889     7  2015-01-01
29977121    651 2015-01-01 08:00:00  180.0  2.43333     8  2015-01-01
29977122    651 2015-01-01 09:00:00  144.0  2.02723     9  2015-01-01
34 701
          iu_ac                t_1h   q        k  hour         day
29977028    799 2015-01-01 05:00:00 NaN  0.43667     5  2015-01-01
29977029    799 2015-01-01 06:00:00 NaN  0.43000     6  2015-01-01
29977030    799 2015-01-01 07:00:00 NaN  0.24722     7  2015-01-01
29977031    799 2015-01-01 08:00:00 NaN  0.19556     8  2015-01-01
29977032    799 2015-01-01 09:00:00 NaN  0.38445     9  2015-01-01
29977033    799 2015-01-01 10:00:00 NaN  0.32334    10  2015-01-01
29977034    799 2015-01-01 11:00:00 NaN  0.49111    11  2015-01-01
29977035    799 2015-01-01 12:00:00 NaN  0.62889    12  2015-01-01
29977036    799 2015-01-01 13:00:00 NaN  0.82500    13  2015-01-01
29977037    799 2015-01-01 14:00:00 NaN  0.66944    14  2015-01-01
29977038    799 2015-01-01 15:00:00 NaN  0.83834    15  2015-01-01
29977039    799 2015-01-01 16:00:00 NaN  1.26722    16  2015-01-01
29977040    799 2015-01-01 17:00:00 NaN  1.28222    17  2015-01-01
29977041    799 2015-01-01 18:00:00 NaN  2.18500    18  2015-01-01
29977042    799 2015-01-01 19:00:00 NaN  1.54944    19  2015-01-01

In [ ]:
changes_ldd_df

    Year  Number_of_Detectors  Detectors_Added  Detectors_Removed
0   2010                 3123             3123                  0
1   2011                 3143               20                  0
2   2012                 3167               24                  0
3   2013                 3179               12                  0
4   2014                 3230               51                  0
5   2015                 3267               44                  7
6   2016                 3271                4                  0
7   2017                 3268                6                  9
8   2018                 3262               13                 19
9   2019                 3310               52                  4
10  2020                 3308                0                  2
11  2021                 3308                0                  0
12  2022                 3308                0                  0

In [38]:
changes_ldd_at_least_one_q_or_k_df.to_csv(data_path + 'processed_data/detectors_in_ldd_at_least_one_q_or_k_per_year.csv', index=False)

In [22]:
changes_ldd_at_least_one_q_k_df

    Year  Number_of_Detectors  Detectors_Added  Detectors_Removed
0   2010                 1881             1881                  0
1   2011                 1821              123                183
2   2012                 1749               84                156
3   2013                 1767              136                118
4   2014                 1714               91                144
5   2015                 1729              105                 90
6   2016                 1780              111                 60
7   2017                 1857              133                 56
8   2018                 1815               56                 98
9   2019                 1854              132                 93
10  2020                 1647               28                235
11  2021                 1581               61                127
12  2022                 1487               32                126

In [37]:
changes_ldd_at_least_one_q_or_k_df

    Year  Number_of_Detectors  Detectors_Added  Detectors_Removed
0   2010                 1881             1881                  0
1   2011                 1821               83                718
2   2012                 1749               40                740
3   2013                 1767               79                672
4   2014                 1714               33                737
5   2015                 1729               34                701
6   2016                 1780               59                641
7   2017                 1857               47                655
8   2018                 1815               24                730
9   2019                 1854               61                705
10  2020                 1647                9                931
11  2021                 1581               30                849
12  2022                 1487               12                898